html, body {
    overflow: hidden; /* Prevent page scrollbars */
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #20368d; /* Main background color */
    min-height: 100vh; /* Ensure the body takes at least the whole viewport height */
}

/* Main wrapper for the whole app layout */
.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100vm; /* Adjust as needed for your design */
    position: relative;
    box-sizing: border-box;
}

/* Start button styles */
.start-button {
    font-size: 2rem;
    padding: 15px 50px;
    background-color: #00BFFF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 10; /* Ensure it stays above the background */
    position: relative; /* Needed for stacking context */
}

/* Scale and shadow effect on hover for the start button */
.start-button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Pressed effect for the start button */
.start-button:active {
    transform: scale(1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

/* Version label fixed at the bottom right */
.Version {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

/* Language selection button styling */
.Language-button {
    font-size: 1.5rem;
    margin-top: 2vh;
    padding: 10px 20px;
    background-color: #00BFFF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000; /* Ensure it's above background */
    position: relative; /* Needed for stacking context */
}

/* Pressed effect for language button */
.Language-button:active {
    transform: scale(1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

/* Wrapper for grouping language selection buttons */
#LanguageWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 3vh;
}
